# .env.example

# Copie este arquivo para .env e preencha com seus valores locais
# cp .env.example .env

# Banco de dados
DB_URL=jdbc:postgresql://localhost:5432/tasks_dev
DB_USERNAME=postgres
DB_PASSWORD=sua_senha_aqui

# Profile ativo (dev ou prod)
SPRING_PROFILES_ACTIVE=dev